.topbar {
    background-color: #000;
    height: 30px;
    line-height: 30px;
    padding-right: 40px;
    z-index: 99999;
}
.topbar ul {
    list-style: none;
}
.topbar ul li {
    color: #ababab;
    font-size: 12px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    display: inline;
    padding-right: 10px;
}
.topbar ul li .whatsapp-icon {
    color: #128c7e;
}
.topbar ul li.whatsapp a {
    color: #ababab;
}
.topbar ul li.facebook a {
    color: #3c5a99;
}
.topbar ul li.instagram a {
    color: #9b6954;
}

nav.navbar {
    background-color: transparent;
    transition: background-color 1s ease 0s;
    margin-top: 20px;
}

nav.navbar.solid {
    background-color: #3a5784;
    opacity: 0.99;
    transition: background-color 1.2s ease 0s;
    box-shadow: 0 0 2px #22304a;
    margin-top: 0 !important;
}

nav .navbar-nav {
    padding-right: 20px;
}

nav .main-logo {
    height: 90px;
    transition: height 1.3s;
}

nav .main-logo.solid-logo {
    height: 43px;
    transition: height 1.3s;
}

nav .nav-item {
    padding: 0.5rem 0.4rem !important;
}

nav .nav-link {
    font-size: 12px !important;
    color: #f0f0f0 !important;
    text-transform: uppercase;
    display: inline-block;
}

nav .nav-link:after {
    content: "";
    width: 0;
    height: 1px;
    display: block;
    background: #fff;
    transition: 500ms;
}

nav .nav-link:hover:after {
    width: 100%;
}

.star {
    color: rgba(230, 167, 27, 0.62);
    font-size: 1.3em;
}

.area-title {
    color: #181818;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300 !important;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 25px 0;
    grid-gap: 40px;
    font-size: 2.5rem;
    padding-bottom: 30px;
}

.area-title:after,
.area-title:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
}

.area-subtitle {
    padding: 0;
    margin: 0 0 50px 0;
    font-weight: 300 !important;
    font-size: 1.1em !important;
}

#numbers {
    font-family: "Lato", sans-serif;
    min-height: 280px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.8)),
        url("//murayamaengenharia.com.br/webroot/img/home/bg-numbers.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 100px;
}

#numbers .row {
    padding: 50px 0 10px 0;
}

#numbers .box {
    height: 180px;
    font-size: 24px;
    color: #eeeeee;
}

#numbers .box p.icon {
    font-weight: lighter;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    opacity: 0.5;
}

#numbers p.count-number {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 4.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    margin: 0;
    padding: 0;
}

#numbers p.label {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #afafaf;
    text-shadow: 1px 1px 1px #000;
}

/* Vídeo */
#video {
    margin-top: 80px;
    background-image: url("../img/home/video_bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100%;
}
#video #embed-video {
    border-radius: 5px;
    border: 1px solid #4e5b69;
}

/* Projetos */
#projects {
    margin-top: 90px;
}
#projects .project-card {
    margin-top: 20px;
    margin-bottom: 50px;
}
#projects .project-card .project-image {
    background-color: #1d2124;
    width: 100%;
    height: 250px;
    border-radius: 7px;
    transition: opacity 0.3s ease-in-out;
}
#projects .project-card .project-image:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}
#projects .project-card .project-title {
    font-size: 1.3em;
    font-weight: 500;
    color: #3a5784;
}
#projects .project-card .project-button {
    color: #717171;
    border: 1px solid #b9b9b9;
}

/* Contato */
#contact {
    margin-top: 30px;
    padding-bottom: 30px;
    background-color: #fafafa;
}
#contact .card {
    border-radius: 15px;
    background-color: #fff;
    color: #5a5e63;
    margin-bottom: 60px;
}
#contact .card .card-body h3 {
    font-size: 1.4em;
}
#contact .card .card-body h3 span {
    color: #3c5985;
}
#contact .card .card-body {
    font-size: 1.1em;
    min-height: 190px;
}
#contact .card .card-body a {
    font-size: 1.1em;
    color: #3c5985;
    text-decoration: none;
}
#contact .card .card-body .phone-text-icon {
    font-size: 0.9em;
    padding-right: 5px;
}
.carousel-item-small {
    height: 350px !important;
}

/* Quem somos detalhes */
#who-detail {
    padding-top: 60px;
    margin-bottom: -60px;
    font-size: 1.2em;
}
#who-detail h3 {
    color: #1d3045;
    font-weight: 300;
}
.spacer {
    display: inline-block;
    margin-bottom: 60px;
}

/* Rodapé */
#footer {
    min-height: 530px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.8)),
        url("//murayamaengenharia.com.br/webroot/img/home/otimized/otmz-footer-bg-1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-size: 1.3em;
    border-bottom: 6px solid #000;
}
#footer .footer-logo {
    margin-top: 30px;
    height: 180px;
}
#footer ul {
    list-style: none;
}
#footer ul li a {
    text-decoration: none;
    color: #fff;
}
#footer .footer-social-icon {
    color: #fff;
    font-size: 3em;
    margin-top: 45px;
}

/* Social Icons */
#social-side-links {
    position: fixed;
    bottom: 10px;
    left: 15px;
    padding: 0;
    list-style: none;
    z-index: 99;
}

#social-side-links li a {
    display: block;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.4);
    margin-bottom: 20px;
}

#social-side-links li a img {
    display: block;
    max-width: 50px;
    padding: 10px;
}
#social-side-links .social-side-facebook a {
    background-color: #3c5a96;
}
#social-side-links .social-side-instagram a {
    background-color: #c13584;
}

#partners {
    margin-bottom: 80px;
}

#partner01 {
    width: 370px;
}
#partner02 {
    width: 180px;
}
#partner03 {
    width: 350px;
}

.card-solar {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 10px 5px 10px;
    height: 100%;
    background-color: #025302;
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
}
.card-solar p {
    padding: 0;
    margin: 0;
    font-size: 1em;
    color: #fff !important;
}

/* Small devices */
@media screen and (max-width: 700px) {
    #numbers {
        background-image: url("//murayamaengenharia.com.br/webroot/img/home/mobile-bg-numbers.jpg");
    }

    nav.navbar {
        height: 70px;
        display: flex;
        margin-top: 0;
    }

    .navbar-collapse {
        border-radius: 2px;
        background-color: #3a5784;
        padding-left: 10px;
        z-index: 999;
        color: #fff;
    }

    nav .main-logo {
        height: 50px;
    }

    nav .nav-item {
        padding: 0.1rem 0 !important;
    }

    nav .nav-link {
        font-size: 15px !important;
    }

    .area-title {
        color: #181818;
        display: inline-block;
    }
    .area-title:after,
    .area-title:before {
        display: inline-block;
        border: 0;
    }
    .area-subtitle {
        margin: 0 0 20px 0;
    }

    #projects {
        margin: 30px 0 60px 0;
    }

    #projects .project-card {
        text-align: center;
        margin-top: 35px;
        margin-bottom: 20px;
    }
    #projects .project-card .project-image {
        height: 120px;
    }
    #projects .project-card .project-button {
        width: 100%;
    }
    #projects .project-button-all {
        width: 100%;
        margin-top: 5px;
    }

    /* Vídeo */
    #video {
        margin-top: 0;
        background: #000;
        margin-bottom: 80px;
    }
    #video #embed-video {
        border: 0;
        border-radius: 0;
    }

    #video .embed-responsive {
       position: static
    }

    .carousel-item-small {
        height: 250px !important;
    }
    #contact .card .card-body {
        min-height: 100%;
    }
    #contact .card .card-body a.mobile-contact-btn {
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 8px;
        color: #fff;
        background-color: #3c5985;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    #contact .card .card-body p.phone-call {
        padding-top: 8px;
        padding-bottom: 25px;
    }

    #contact .contact-social p {
        font-size: 0.8em;
        display: inline-block;
        padding-bottom: 45px;
    }
    #contact .contact-social p span {
        font-size: 2em;
    }

    #social-side-links {
        bottom: -10px;
        left: 10px;
    }
    #social-side-links li a {
        margin-bottom: 8px;
    }

    #social-side-links li a img {
        max-width: 45px;
    }

    #footer {
        background-image: url("//murayamaengenharia.com.br/webroot/img/home/otimized/mobile-otmz-footer-bg-1.jpg");
        font-size: 1.3em;
        padding-bottom: 80px;
    }
    #footer .footer-logo {
        margin-top: 30px;
        height: 100px;
    }
    #footer ul {
        text-align: center;
    }
    #footer ul li {
        padding-bottom: 10px;
    }
    #footer .footer-social-icon {
        font-size: 4em;
    }

    #partners {
        margin-bottom: 0;
    }
    #partner02 {
        width: 50%;
        margin-bottom: 50px;
    }
    #partner01, #partner03 {
        width: 90%;
        margin-bottom: 50px;
    }

    .card-solar {
        padding: 5px;
        margin-bottom: 10px;
        width: 100%;
        background-color: transparent !important;
        text-transform: uppercase;
        text-align: left;
    }
    .card-solar p {
        padding: 0;
        margin: 0;
        font-size: 1em;
        color: #025302 !important;
    }
     .card-solar p:before {
        content:"• ";
    }

}
