.topbar {
    background-color: #000;
    height: 30px;
    line-height: 30px;
    padding-right: 40px;
    z-index: 99999;
}
.topbar ul {
    list-style: none;
}
.topbar ul li {
    color: #ababab;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    display: inline;
    padding-right: 10px;
}
.topbar ul li .whatsapp-icon {
    color: #128C7E;
}
.topbar ul li.whatsapp a {
    color: #ababab;
}
.topbar ul li.facebook a {
    color: #3C5A99;
}
.topbar ul li.instagram a {
    color: #9b6954;
}

nav.navbar {
    background-color: transparent;
    transition: background-color 1s ease 0s;
    margin-top: 20px;
}

nav.navbar.solid {
    background-color: #3A5784;
    opacity: .99;
    transition: background-color 1.2s ease 0s;
    box-shadow: 0 0 2px #22304a;
    margin-top: 0 !important;
}

nav .navbar-nav {
    padding-right: 20px;
}

nav .main-logo {
    height: 90px;
    transition: height 1.3s;
}

nav .main-logo.solid-logo {
    height: 43px;
    transition: height 1.3s;
}

nav .nav-item {
    padding: .5rem .4rem !important;
}

nav .nav-link {
    font-size: 12px !important;
    color: #f0f0f0 !important;
    text-transform: uppercase;
    display: inline-block;
}

nav .nav-link:after {
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background: #fff;
    transition: 500ms;
}

nav .nav-link:hover:after {
    width: 100%;
}

.star {
    color: rgba(230, 167, 27, 0.62);
    font-size: 1.3em;
}

.area-title {
    color: #181818;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300 !important;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 25px 0;
    grid-gap: 40px;
    font-size: 2.5rem;
    padding-bottom: 30px;
}

.area-title:after, .area-title:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
}

#numbers {
    font-family: 'Lato', sans-serif;
    min-height: 280px;
    background-image: linear-gradient(rgba(0, 0, 0, .95), rgba(0, 0, 0, 0.80)),
    url('http://murayamaengenharia.com.br/novo/webroot/img/home/bg-numbers.jpg');
    /*url('http://murayamaengenharia.com.br/img/home/bg-numbers.jpg');*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#numbers .row {
    padding: 50px 0 10px 0;
}

#numbers .box {
    height: 180px;
    font-size: 24px;
    color: #eeeeee;
}

#numbers .box p.icon {
    font-weight: lighter;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    opacity: .5;
}

#numbers p.count-number {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 4.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    margin: 0;
    padding: 0;
}

#numbers p.label {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #afafaf;
    text-shadow: 1px 1px 1px #000;

}

/* Projetos */
#projects {
    margin-top: 90px;
}
#projects .project-card {
    margin-top: 60px;
    margin-bottom: 50px;
}
#projects .project-card .project-image {
    background-color: #1d2124;
    width: 100%;
    height: 250px;
    border-radius: 7px;
    transition: opacity .3s ease-in-out;
}
#projects .project-card .project-image:hover{
    opacity: 0.8;
    transition: opacity .3s ease-in-out;
}
#projects .project-card .project-title {
    font-size: 1.3em;
    font-weight: 500;
    color: #3A5784;
}
#projects .project-card .project-button {
    color: #717171;
    border: 1px solid #b9b9b9;
}

/* Rodapé */
#footer {
    min-height: 530px;
    background-image: linear-gradient(rgba(0, 0, 0, .95), rgba(0, 0, 0, 0.80)),
    url('../../img/home/otimized/otmz-footer-bg-1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-size: 1.3em;
    border-bottom: 6px solid #000;
}
#footer .footer-logo {
    margin-top: 30px;
    height: 180px;
}
#footer ul {
    list-style: none;
}
#footer ul li a {
    text-decoration: none;
    color: #fff;
}
#footer .footer-social-icon {
    color: #fff;
    font-size: 3em;
    margin-top: 45px;
}

/* Small devices */
@media screen and (max-width: 700px) {

    nav.navbar {
        height: 70px;
        display: flex;
        margin-top: 0;
    }

    .navbar-collapse {
        border-radius: 2px;
        background-color: #3A5784;
        padding-left: 10px;
        z-index: 999;
        color: #fff;
    }

    nav .main-logo {
        height: 50px;
    }

    nav .nav-item {
        padding: .1rem 0 !important;
    }

    nav .nav-link {
        font-size: 15px !important;
    }

    .area-title {
        color: #181818;
        display: inline-block;
    }
    .area-title:after, .area-title:before {
        display: inline-block;
        border: 0;
    }

    #projects .project-card {
        text-align: center;
        margin-top: 35px;
        margin-bottom: 20px;
    }
    #projects .project-card .project-image {
        height: 120px;
    }
    #projects .project-card .project-button {
        width: 100%;
    }
    #projects .project-button-all {
        width: 100%;
        margin-top: 40px;
    }

    #footer {
        font-size: 1.3em;
        padding-bottom: 80px;
    }
    #footer .footer-logo {
        margin-top: 30px;
        height: 100px;
    }
    #footer ul {
        text-align: center;
    }
    #footer ul li {
        padding-bottom: 10px;
    }
    #footer .footer-social-icon {
        font-size: 4em;
    }


}
